In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sweetviz as sv

In [6]:
    dataframe_population_1950_2022 = pd.read_csv(r"C:\Users\aluga.com\Documents\meus_projetos\Project-DataScience\analytics\dataframes\population_pyramid_1950-2022.csv")

In [10]:
dataframe_Academic_Performance = pd.read_csv(r"C:\Users\aluga.com\Documents\meus_projetos\Project-DataScience\analytics\dataframes\xAPI-Edu-Data.csv")

In [11]:
dataframe_population_1950_2022

           Country  Year    Age       M       F
0      Afghanistan  1950    0-4  630044  661578
1      Afghanistan  1950    5-9  516206  487335
2      Afghanistan  1950  10-14  461378  423326
3      Afghanistan  1950  15-19  414369  369363
4      Afghanistan  1950  20-24  374109  318392
...            ...   ...    ...     ...     ...
44599     Zimbabwe  2022  80-84   14848   33375
44600     Zimbabwe  2022  85-89    4534   13108
44601     Zimbabwe  2022  90-94     816    3330
44602     Zimbabwe  2022  95-99      78     417
44603     Zimbabwe  2022   100+       2      16

[44604 rows x 5 columns]

In [5]:
dataframe_Academic_Performance

NameError: name 'dataframe_Academic_Performance' is not defined

In [12]:
my_report = sv.analyze(dataframe_Academic_Performance)
my_report.show_html()

                                             |                                                    | [  0%]   0…

C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\utils.py:34: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  clamped_series = clamped_series.append(other_series, ignore_index=False)
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\utils.py:34: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  clamped_series = clamped_series.append(other_series, ignore_index=False)
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\utils.py:34: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  clamped_series = clamped_series.append(other_series, ignore_index=False)
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\utils.py:34: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  clamped_series = clamped_series.append(other_series, ignore_index=False)
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))
C:\Users\aluga.com\Documents\meus_projetos\.venv\lib\site-packages\sweetviz\graph_associations.py:223: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_dataframe = new_dataframe.append(pd.Series(empty_row_dict, name=feature))

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [13]:
dataframe_Academic_Performance.describe()

       raisedhands  VisITedResources  AnnouncementsView  Discussion
count   480.000000        480.000000         480.000000  480.000000
mean     46.775000         54.797917          37.918750   43.283333
std      30.779223         33.080007          26.611244   27.637735
min       0.000000          0.000000           0.000000    1.000000
25%      15.750000         20.000000          14.000000   20.000000
50%      50.000000         65.000000          33.000000   39.000000
75%      75.000000         84.000000          58.000000   70.000000
max     100.000000         99.000000          98.000000   99.000000

In [43]:
dataframe_Academic_Performance.columns.values

array(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'raisedhands',
       'VisITedResources', 'AnnouncementsView', 'Discussion',
       'ParentAnsweringSurvey', 'ParentschoolSatisfaction',
       'StudentAbsenceDays', 'Class'], dtype=object)

In [47]:
columns_dataframe_Academic_Performance = ['NationalITy', 'ParentschoolSatisfaction']

In [55]:
dataframe_Academic_Performance_select = dataframe_Academic_Performance.filter(items=columns_dataframe_Academic_Performance)

In [56]:
dataframe_Academic_Performance_select.head()

  NationalITy ParentschoolSatisfaction
0          KW                     Good
1          KW                     Good
2          KW                      Bad
3          KW                      Bad
4          KW                      Bad

In [70]:
dataframe_Academic_Performance_select.value_counts().sort_index() 
# value_counts() faz um count agrupando os valores
 #.sort_index() ordena os valores

NationalITy  ParentschoolSatisfaction
Egypt        Bad                           2
             Good                          7
Iran         Bad                           3
             Good                          3
Iraq         Good                         22
Jordan       Bad                          66
             Good                        106
KW           Bad                          90
             Good                         89
Lybia        Good                          6
Morocco      Bad                           3
             Good                          1
Palestine    Good                         28
SaudiArabia  Bad                           7
             Good                          4
Syria        Bad                           2
             Good                          5
Tunis        Bad                           7
             Good                          5
USA          Bad                           1
             Good                          5
lebanon      Bad                           7
             Good                         10
venzuela     Good                          1
dtype: int64

In [60]:
nationality_dataframe_Academic_Performance = ['NationalITy']

In [61]:
nationalityy_dataframe_Academic_Performance_select = dataframe_Academic_Performance.filter(items=nationality_dataframe_Academic_Performance)

In [67]:
nationalityy_dataframe_Academic_Performance_select.value_counts() # KW = KuwaIT

NationalITy
KW             179
Jordan         172
Palestine       28
Iraq            22
lebanon         17
Tunis           12
SaudiArabia     11
Egypt            9
Syria            7
Iran             6
Lybia            6
USA              6
Morocco          4
venzuela         1
dtype: int64